.App {
  text-align: left;
  margin: 10px;
}

.Episode {
  color: royalblue;
  font-size: large;
}

li {
  color: black;
  font-size: medium;
  padding-top: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
